{% extends"base.html" %}
{% block html_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styles_index.css" type="text/css">
    <!--<script src="/static/scripts/markerpopups.js"></script>-->
    <script src="/static/scripts/creationpopup.js" async></script>
    <script></script>
{% endblock html_head %}

{% block wrapper %}
{%endblock wrapper%}
    {%block header%}
    <div class="logo">
        <span>
        </span>
    </div>
    {%endblock header%}
    {%block scroll%}
    <div class="postheader">
        <div class="welcome">Eventos para ti</div>
        <div class="filterbar">
            <p>Filtros</p>
            <i class='bx bx-slider-alt' ></i>
        </div>
    </div>
    {% if user.type == 'admin' or user.type == 'sudo' %}
    <div id="addevent" class="create">
        <i class='bx bx-plus'></i>
        <div style="width: 40%;"> Crear nuevo evento...</div>
        <div></div>
    </div>
    {% endif %}
    {%endblock scroll%}
        {%block container%}
            <ul class="list">
                <div id="userevents">
                    {% if user.events %}
                        {% for value in user.events %}
                            <li> 
                                <div class="listevent" id="{{value.event_id}}" onclick="javascript:location.href = '/map/event/{{value.event_id}}'">
                                    <div class="image" style="background-image: url({{value.avatar}}); background-repeat: no-repeat;"> 
                                    </div> 
                                    <div class="info"> 
                                    <p>  {{ value.name }} </p> 
                                    <p>  {{ value.start_date}}  </p> 
                                    <p>  {{ value.location }}  </p> 
                                    </div> 
                                    <div class="manage"> 
                                        <div class="manage-button"> 
                                            <i class='bx bx-right-arrow-alt'></i>
                                        </div> 
                                    </div> 
                                </div> 
                            </li>
                    {% endfor %}
                    {% else %}
                        <li id="noevents" style="text-align: center; margin-top: 30px; display:block;"> Parece que no tienes ningún evento próximamente</li>
                    {% endif %}
                </ul>
        </div>
        {% endblock container %}
        {% block footer %}
        <div class="footer" id="footer">
            <div class="icons">
                <div class="usericon" id="usericon" onclick="javascript:location.href = '/user'"><span></span></div>
                <div class="home" onclick="javascript:location.href= '/'"><span></span></div>
                <div class="burguermenu" onclick="javascript:location.href = '/map'"><span></span></div>
                <div class="notifications" id="notifications"><span></span></div>
            </div>
        </div>
        {% endblock footer %}
