<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style1.css" type="text/css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="wraper">
        <div class="popupnone" id="userpopup">
            <div class="close" id="closeuserpopup"></div>
        </div>
        <div class="popupnone" id="popup">
            <div class="close" id="closepopup"></div>
            <div class="eventitle"> Holberton Party</div>
            <div class="eventimg">
                <img src="https://scontent.fmvd1-1.fna.fbcdn.net/v/t1.6435-9/91138397_142569460618578_9003032990434983936_n.png?_nc_cat=103&ccb=1-7&_nc_sid=973b4a&_nc_ohc=kANVgvRdsLsAX-y7miA&_nc_ht=scontent.fmvd1-1.fna&oh=00_AT8CDHH4X_DslZ24jK7kec_aSOWS9DrvcUQ1LUHqnvR2nA&oe=62BDC452" alt="">
            </div>
            <div class="eventime">6 de Julio, 12.30 - 18.30</div>
            <div class="eventlocation">Holberton School, Jacksonville, Montevideo</div>
            <div class="eventdesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam doloribus quae quam 
                quisquam, ipsa, quidem quis, doloremque, dolore, quod quisquam doloremque quisquam.
            </div>
            <div class="tofav"> Anadir a Favoritos</div>
        </div>
        <div class="popupnone" id="eventcreate">
            <form method="POST">
                <input placeholder="Titulo"></input>
                <input placeholder="Fecha y hora"></input>
                <input placeholder="Coordenadas"></input>
                <input placeholder="Descripcion"></input>
                <div id="create"> Crear</div>
            </form>
            <div class="close" id="closeeventcreate"></div>
        </div>
        <div id="map">
            <script src="scripts/mapcontainer.js"></script>
            <script src="scripts/markerpopups.js"></script>
            <script src="scripts/userpopup.js"></script>
            <script src="scripts/creationpopup.js"></script>
        </div>
        <div class="header">eVentify</div>
        <div class="footer">
            <div class="icons">
                <div class="usericon" id="usericon"><span></span></div>
                <div class="addnew" id="addevent"><span></span></div>
                <div class="burguermenu"><span></span></div>
            </div>
        </div>
    </div>
</body>
</html>