<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/slider_again.css">
    <link rel="stylesheet" href="/static/styles/objetives.css">
    <link rel="stylesheet" href="/static/styles/card.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Event-fi</title>
</head>
<body>
  <header>
    <div id="logo">Event-<a id="logo-s">fi</a></div>
    <span class="sign"><a class="act" href="#">SIGN UP</a></span>
    <span class="sign"><a href="#">LOGIN</a></span>
</header>

<div class="slider">
    
    <div class="myslider fade "style="display:block;">    
        <img id="img-slider" src="/static/img/screen_shoot_slider1.png" style="width:100%;">
    </div>
    <div class="myslider fade">
        <div class="txt">
            <h1>A NEW WAY</h1>
            <p>to create events!!</p>
        </div>    
        <img class="img-slider" src="/static/img/pin_slider2.png" style="width:100%;">
    </div>
    <div class="myslider fade">    
        <img class="img-slider" src="/static/img/phones.png" style="width:100%;">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <div class="dotbox" style="text-align:center;">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>

</div>
<div id="objectives">
    <h1 class="objective-title">Goal</h1>
    <p class="objective">Our project was inspired by the necessity of a way to easily share and find out about events, 
      that didn’t require multiple apps and steps to achieve, these events being work, friends, family or culturally related.
      Event-fi is a platform created thinking in those porposes, trying to solve the antiqued way for events organization and bringing 
      a new organizational experience with a high level of customization.</p>
</div>
<div class="card">
  <div class="card__content">
      <div class="card__front">
          <img id="img-card" src="/static/img/flipe2.png">
          <h3 class="card__title">Frontend</h3>
          <h2 class="card__subtitle">Felipe Pérez</h2>
      </div>

      <div class="card__back">
          <p class="card__body">About me: <br>
              I'm interested in front end design and continue progressing in technologies like React and View</p>
          </div>
  </div>

  <div class="card__content">
      <div class="card__front">
          <img id="img-card" src="/static/img/santi_pic.png">
          <h3 class="card__title">Devops</h3>
          <h2 class="card__subtitle">Santiago Goyret</h2>
      </div>

      <div class="card__back">
          <p class="card__body">About me: <br>
              Love having insight on every part of the project, teamwork and primarily Infraestructure</p>
          </div>
  </div> 
  <div class="card__content">
      <div class="card__front">
          <img id="img-card" src="/static/img/martin.png">
          <h3 class="card__title">Backend</h3>
          <h2 class="card__subtitle">Martin Casamayou</h2>
      </div>

      <div class="card__back">
          <p class="card__body">About me: <br>
              Independent learner with facility to learn new teachnologies and I love doing so!</p>
          </div>
  </div> 
  <div class="card__content">
      <div class="card__front">
          <img id="img-card" src="/static/img/diego_pic.png">
          <h3 class="card__title">Fullstack</h3>
          <h2 class="card__subtitle">Diego Merentiel</h2>
      </div>

      <div class="card__back">
          <p class="card__body">About me: <br>
              I'm interested in being a Full Stack developer, mainly to continue learning and progressing in technologies like React and NodeJs</p>
          </div>
  </div> 
</div>
</div>
    <script src="/static/scripts/landing_sliders.js"></script>
    <script src="/static/scripts/landing_card.js"></script>
</body>
</html>
