{% extends"base.html" %}
{% block html_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styles_map.css" type="text/css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <!--<script src="/static/scripts/markerpopups.js"></script>-->
    <script src="/static/scripts/mapcontainer.js"></script>
    <script src="/static/scripts/loadingscreen.js"></script>
    <script src="/static/scripts/eventpopup.js"></script>
    <script>
        {% if event %}
        window.addEventListener("load", function () {
            displayEvent({{event.location.position|tojson|safe}}, "{{event._id|safe}}")
        });
        {% endif %}
        {% if locations %}
        const geojson = {
            "type": "FeatureCollection",
            "features": []
        }
        {% for value in locations %}
            geojson.features.push({
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": {{value.position.geometry.coordinates|tojson|safe}}
                },
                "properties": {
                    'id' : '{{value.get("location_id")}}',
                    'name': '{{value.get("name")}}',
                    'avatar': '{{value.get("avatar")}}'
                }
            })
        {% endfor %}
        window.addEventListener("load", function () {
            displayLocations(geojson)
        });
        {% endif %}

    </script>
{% endblock html_head %}

{% block wrapper %}
<div class="loadscreen" id="loadscreen">
    <div id="logo"> Event-fi</div>
    <div id="loading">Cargando...</div>
</div>
<div class="back">
    <i class='bx bx-arrow-back' onclick="javascript:location.href ='/index'"></i>
</div>
<div id="map"></div>
{%endblock wrapper%}
    {%block header%}
    <p> Eventfi</p>
    {%endblock header%}
        {%block container%}
        {% endblock container %}
        {% block footer %}
        <div class="footer" id="footer">
            <div class="icons">
                <div class="usericon" id="usericon" onclick="javascript:location.href = '/user'"><span></span></div>
                <div class="home" onclick="javascript:location.href= '/'"><span></span></div>
                <div class="burguermenu" onclick="javascript:location.href = '/map'"><span></span></div>
                <div class="notifications" id="notifications"><span></span></div>
            </div>
        </div>
        {% endblock footer %}
