{% extends 'base.html' %}

{% block html_head %}
    <link rel="stylesheet" href="/static/styles/loginstyle.css" type="text/css">

{% endblock html_head %}

{% block container %}
    <div class="create-user">
        <form id="user-data" method='POST' action='/register'>
            <p> Crea una cuenta </p>
            <div class="choose-avatar">
                <label for="avatar">Elige un avatar
                    <input name="avatar" type="file" class="avatar"></input>
                </label>
            </div>
            <div class="names">
                <input name="name" class="name" placeholder="Nombre" pattern="^[a-zA-Z]{1,20}$"></input>
                <input name="last_name" class="lastname" placeholder="Apellido" pattern="^[a-zA-Z]{1,20}$"></input>
            </div>
            <input name="username" class="login" placeholder="Nombre de usuario" pattern="^[a-zA-Z0-9\-]{4,12}$"></input>
            <input name="email" class="email" placeholder="Correo electronico"></input>
            <input name="password" class="login" type="password" placeholder="Contraseña"></input>
                            <div class="options">
            <div id="login" onclick="javascript:location.href='/login'"> Ya tengo una cuenta</div>
            <button id="btn-create-user" type="submit">Registrarse</button>
        </div>
        </form>
    </div>
{% endblock container %}