{% extends 'base.html' %}

{% block html_head %}
    <link rel="stylesheet" href="/static/styles/profiles.css" type="text/css">
    <script src="/static/scripts/profilepopups.js" type="module" async></script>
    <script src="/static/scripts/profilenav.js" type="module" async></script>
    <script src="/static/scripts/profilebuttons.js" type="module" async></script>
{% endblock html_head %}

{% block wrapper %}
    <div class="back">
        <i class='bx bxs-chevron-left' onclick="javascript:location.href ='/index'"></i>
    </div>
{% endblock wrapper %}

{% block header %}
    <div class="avatar" id="{{user._id}}"></div>
    <div class="userinfo">
        <div class="names">{{user.name}} {{user.last_name}}</div>
        <div class="username">@{{user.username}}</div>
        <button class="edit_prof" onclick="javascript:location.href ='user/settings'">Edit profile</button>
    </div>
{% endblock header %}

{% block container %}
    <div class="selection">
        <span id="events" class="selected">Eventos</span>
        <span id="groups">Grupos</span>
        <span id="contacts">Contactos</span>
    </div>
    <div class="content">
        <ul class="list">
            <div id="userevents">
                {% if user.events %}
                    {% for value in user.events %}
                        <li> 
                            <div class="listed" id="{{value._id}}"> 
                                <div class="image"> 
                                    <div class="img"> 
                                    </div> 
                                </div> 
                                <div class="info"> 
                                <p>  {{ value.name }} </p> 
                                <p>  {{ value.date }}  </p> 
                                <p>  {{ value.coordinates }}  </p> 
                                </div> 
                                <div class="manage"> 
                                    <div class="manage-button"> 
                                        <i class='bx bx-trash'></i>
                                    </div> 
                                </div> 
                            </div> 
                        </li>
                {% endfor %}
                {% else %}
                    <li style="text-align: center; margin-top: 30px; display:block;"> Parece que no tienes ningún evento próximamente</li>
                {% endif %}
                </div>
                <div id="usergroups" class="none">
                {% if user.groups %}
                    {% for value in user.groups %}
                        <li> 
                            <div class="listed"> 
                                <div class="image"> 
                                    <div class="img"> 
                                    </div> 
                                </div> 
                                <div class="info"> 
                                <p>  {{value.name}}  </p>  
                                </div> 
                                <div class="manage"> 
                                    <div class="manage-button"> 
                                        <button>Ver</button> 
                                    </div> 
                                    <div class="manage-button"> 
                                        <button>Editar</button> 
                                    </div> 
                                    <div class="manage-button"> 
                                        <button>Eliminar</button> 
                                    </div> 
                                </div> 
                            </div> 
                        </li>
                {% endfor %}
                {% else %}
                    <li style="text-align: center; margin-top: 30px; display:block;"> Parece que no tienes ningún grupo</li>
                {% endif %}
                </div>
                <div id="usercontacts" class="none">
                {% if user.contacts %}
                    {% for key, value in user.contacts.items() %}
                        <li> 
                            <div class="listed"> 
                                <div class="image"> 
                                    <div class="img"> 
                                    </div> 
                                </div> 
                                <div class="info"> 
                                <p>  {{value.name}} {{value.lastname}} </p>
                                <p>  {{value.username}}  </p>
                                <div class="manage"> 
                                    <div class="manage-button"> 
                                        <button>Ver</button> 
                                    </div> 
                                    <div class="manage-button"> 
                                        <button>Editar</button> 
                                    </div> 
                                    <div class="manage-button"> 
                                        <button>Eliminar</button> 
                                    </div> 
                                </div> 
                            </div> 
                        </li>
                {% endfor %}
                {% else %}
                    <li style="text-align: center; margin-top: 30px; display:block;"> Parece que no tienes ningún contacto</li>
                {% endif %}
                </div>
        </ul>
    </div>
{% endblock container %}