body {
    margin: 0;
    padding: 0;
}

.wraper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.wraper > .container {
    border-radius: 5px;
    width: 25%;
    height: 1%;
    /* align-items: center; */
    text-align: center;
    margin: auto;
    /* padding-bottom: 15%; */
    /* padding-top: 15%; */
    font-family: 'Ubuntu', sans-serif;
}
.wraper > .header > .welcome {
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px
}
.logo {
    padding-bottom: 20%;
}

input {
    all: unset;
}
.wraper > .container > #user-data {
    display: flex;
    flex-direction: column;
}

.wraper > .container > .create-user > #user-data > input {
    display: block;
    width: 60%;
    height: 2rem;
    margin: .5rem auto .5rem auto;
    border: 2px solid #333333;
    border-radius: 10px;
}

.wraper > .container > .create-user > #btn-create-user {
    width: 40%;
    height: 3rem;
    font-size: larger;
    border: 2px solid greenyellow;
    border-radius: 10px;
}
