@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wraper {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.header {
    height: 40%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.edit_prof{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    border: 2px solid #6205e3;
    color: black;
    border-radius: 2px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.upicons{
    position: absolute;
    color: #6205e3;
    font-size: 30px;
    top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.bx-arrow-back {
    margin-left: 10px;
}
.bx-log-out-circle{
    margin-right: 10px;
}
.selected, .navselected{
    background-color: #6205e3;
    color: white;
    border-radius: 2px;
    border: none;
}
#events, #groups, #contacts {
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 200%;
}
.selection {
    height: 5%;
    display: flex;
    background-color: #f1f1f1;
    color: black;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.avatar {
    background-color: white;
    border: 2px solid #6105e3;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.none {
    display: none;
}
.active {
    display: unset;
}
.img {
    height: 75px;
    width: 75px;
    box-shadow: 0px 0px 7px -2px darkslategrey;
    border-radius: 50%;

}
.info > p {
    margin: 0;
    padding: 0;
}
.listed > * {
    width: 33.33%;
    align-self: center;
    margin-left: 25px;
}
.listed > .manage > .manage-button > button {
    all: unset;
}
.selection .test:hover{
    width: 33%;
    background-color:#4A4E69;
    text-align: center;
    border-radius: 6px; 
    color: white;
}

.listevent, .listcontact, .listgroup {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.listevent::after, .listcontact::after, .listgroup::after {
    content: "";
    width: 95%;
    height: 1px;
    background: lightslategray;
    position: absolute;
    bottom: 0;
    margin: auto;
}
.avatar img {
    vertical-align: middle;
    background-size: contain;
    height: 100%;
    width: 100%;
}
ul, li {
    all: unset;
}
.eventitle {
    height: 10%;
    font-family: 'Ubuntu', sans-serif;
  }
 .eventimg {
    align-items: center;
    height: 30%;
    width: 100%;
    background-size: contain;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
 .eventimg > img {
    max-width: 100%;
    max-height: 100%;
  }
 .eventime, .eventlocation {
    height: 10%;
    font-family: 'Ubuntu', sans-serif;
  }
 .eventdesc {
    height: 30%;
    font-family: 'Ubuntu', sans-serif;
  }
   .tofav {
    height: 5%;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 2px;
    border: #6205e3cf 2px solid;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
  }
  .wraper > .popup > .tofav:hover {
    background-color: #6205e3cf ;
}
  .closepopup {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #6105e3;
    cursor: pointer;
    font-size: 30px;
  }
  .popup{
    max-width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 90%;
    background-color: #fafafa;
    z-index: 10;
    border: #6105e3 2px solid;
    opacity: 1;
    box-sizing: border-box;
    border-radius: 2px;
    color: black;
    text-align: center;
    justify-content: space-around;
  }
  .wraper > .popup > #form {
    width: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .popupheader {
    background-color: #f1f1f1;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    padding-bottom: 30px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.popupheader > .popupheaderavatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #6205e3;
}
.popupnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    padding-top: 10px;
    height: 50px;
}
.bx-trash, .bx-x {
    font-size: 35px;
    color: #5a5a5a;
}

.navselected button:hover{
    background-color:#6205e3cf;
    color: black;
}
  .minipopup-button {
    all: unset;
    background-color: #6205e3;
    width: 33%;
    border-radius: 2px;
    color: white;
  }
.container {
    height: 55%;
    overflow-y: auto;
    overflow-x: hidden;
}
#membersnav, #groupsnav, #eventsnav {
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 200%;
}
.popupnav {
    height: 5%;
    display: flex;
    background-color: #f1f1f1;
    color: black;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#trash{
    color:#6205e3;
    font-size:35px;
}
.minipopup {
    max-width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 30%;
    background-color: #fafafa;
    z-index: 10;
    border: #6105e3 2px solid;
    opacity: 1;
    box-sizing: border-box;
    border-radius: 3px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-around;
  }
.minipopupbtn {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
  .minipopup-button {
    all: unset;
    background-color: #6205e3;
    width: 33%;
    border-radius: 2px;
    color: white;
  }
  .behind {
    background-color: #8080808a;
    position: absolute;
    width: 100%;
    height: 100%
  }
.addpopup{
    display: unset;
}
.searchcontact {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    background-color: white;
    height: 30px;
}
.margin {
    width: 100%;
    height: 70px;
}
.searchcontact input {
    all: unset;
    width: 80%;
    height: 30px;
}
.searchcontact .searchbutton {
    width: 35px;
    height: 35px;
}
.bx-plus {
    font-size: 35px;
    color: #5a5a5a;
}
input[type="datetime-local"] {
    background-color: #6205e3;
    color: #6205e3;
    width: 160px;
    /* More styles here */
}
.info{
    width: 40%;
    text-align: left;
}
.addmember input {
    all: unset;
}
.addmember {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: white;
}
.bx-down-arrow-alt {
    font-size: 35px;
    color: #5a5a5a;
}
.dropdownicon {
    display: flex;
    align-items: center;
}
#addtotext {
    text-align: left;
    margin-left: 10px;
}
#addsearch {
    display: flex;
    align-items: center;
}
.popupcontent {
    overflow-y: scroll;
    overflow-x: hidden;
}
.grouppopup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    box-sizing: border-box;
    border-radius: 2px;
    color: black;
    text-align: center;
    /* top: 5%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* right: 0; */
    /* left: 0; */
    /* border: 2px solid #6205e3; */
    z-index: 9;
  }
  input {
    all: unset;
  }
  .addgroup {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    background-color: white;
    height: 30px;
  }
  .addgroup > p {
    width: 80%;
  }
  #addgrouptext {
    width: 50%;
  }
  .bx-camera {
    font-size: 35px;
    color: #5a5a5a;
    }
  label > input {
    display: none;
  }
  label {
    display: block;
  }
  .image,  #avatarlabel {
    width: 20%;
  }
