body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.wraper {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.header {
    height: 30%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.edit_prof{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    font-family: 'Ubuntu', sans-serif;
    background-color:#6205e3;
    color: white;
    border-radius: 1px;
    border:none;
}
.back, .bx{
    position: absolute;
    color: black;
    font-size:50px;
    left: 2.5px;
    top: 5px;
}
.selected{
    background-color: #6205e3;
    color: white;
    border-radius: 1px;
    border: none;
}
#events, #groups, #contacts {
    width: 33.33%;
    text-align: center;
    height: 100%;
    line-height: 200%;
}
.selection {
    height: 5%;
    display: flex;
    background-color: #f1f1f1;
    color: black;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.avatar {
    background-color: white;
    border: 2px solid #6105e3;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.none {
    display: none;
}
.active {
    display: unset;
}
.img {
    background-color: #6205e3;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
.info > p {
    margin: 0;
    padding: 0;
}
.listed > * {
    width: 33.33%;
    align-self: center;
    margin-left: 25px;
}
.listed > .manage > .manage-button > button {
    all: unset;
}
.selection .test:hover{
    width: 33%;
    background-color:#4A4E69;
    text-align: center;
    border-radius: 6px; 
    color: white;
}
.listed {
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #5a5a5a;
}
.avatar img {
    height: 100%;
    width: 100%;
}
ul, li {
    all: unset;
}
.eventitle {
    height: 10%;
    font-family: 'Ubuntu', sans-serif;
  }
 .eventimg {
    align-items: center;
    height: 30%;
    width: 100%;
    background-size: contain;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
 .eventimg > img {
    max-width: 100%;
    max-height: 100%;
  }
 .eventime, .eventlocation {
    height: 10%;
    font-family: 'Ubuntu', sans-serif;
  }
 .eventdesc {
    height: 30%;
    font-family: 'Ubuntu', sans-serif;
  }
   .tofav {
    height: 5%;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    border: #6205e3cf 2px solid;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
  }
  .wraper > .popup > .tofav:hover {
    background-color: #6205e3cf ;
}
  .closepopup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: #6105e3;
    border-radius: 10px;
    cursor: pointer;
  }
  .popup {
    max-width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 90%;
    background-color: #fafafa;
    z-index: 10;
    border: #6105e3 2px solid;
    opacity: 1;
    box-sizing: border-box;
    border-radius: 3px;
    color: black;
    text-align: center;
    justify-content: space-around;
  }
  .wraper > .popup > #form {
    width: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .popupheader {
    background-color: #f1f1f1;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.popupheader > .popupheaderavatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #6205e3;
}
.popupnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    padding-top: 10px;
    height: 50px;
}