/* Google Font import - poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*:root {
  ---colors---
  --body-color: #504b43;
  --sidebar-color: #6f8f72;
  --primary-color: #77ad78;
  --primary-color-light: #85b86e;
  --toggle-color: #8fd694;
  --text-color: #31473f;
*/
/*:root{
  --body-color: #504b43;
  --sidebar-color: #EE6C4D;
  --primary-color: #b43f21;
  --primary-color-light: #EC4920;
  --toggle-color: #fafafa;
  --text-color:#fafafa;
*/
:root{ 
  --body-color: #22223B;
  --sidebar-color: #6105e3c4;
  --primary-color: #4A4E69;
  --primary-color-light: #9A8C98;
  --toggle-color: #fafafa;
  --text-color:#F2E9E4;
  /*---transition---*/
  --tran-03: all 0.2 ease;
  --tran-03: all 0.3 ease;
  --tran-04: all 0.3 ease;
  --tran-05: all 0.3 ease;
}
body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-04);
}
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526d2;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc; 
}
/*---sidebar---*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}
/*---resuable css--*/
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li .icon {
  min-width: 60px;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}
.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar .image-text img {
  width: 40px;
  border-radius: 10px;
}
.sidebar .image-text .header-text {
  display: flex;
  flex-direction: column;
}
.header-text .image-text .name {
  font-weight: 600;
}
.header-text .image-text .tagline {
  margin-top: -2px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}
.sidebar.close header .toggle {
  transform: translateY(-50%);
}
body.dark .sidebar header .toggle {
  color: var(--text-color);
}
.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}
.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebarli a:hover .icon,
.sidebarli a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}
.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: scroll; 
  overflow: auto;

}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.menu-bar .mode {
  position: relative;
  border-radius: 10px;
  background: var(--primary-color-light);
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}
.menu-bar .mode i.sun {
  opacity: 0;
}
body.dark .menu-bar .mode i.sun {
  opacity: 1;
}
body.dark .menu-bar .mode i.moon {
  opacity: 0;
}
.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 10px;
  background: var(--primary-color-light);
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 30px;
  background: var(--toggle-color);
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--sidebar-color);
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

body.dark .switch::before {
  left: 24px;
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}